@use "../../../styles/foundation/" as f;

.result-card {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.image-section {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.price-shipping {
  margin-bottom: 32px;
  align-self: flex-end;
  grid-row: 1;
  grid-column: 3 / span 6;
  font-size: 24px;
}

.img-free-shipping {
  margin-left: 5px;
}

.title {
  font-size: 18px;
  grid-column: 3 / span 8;
  grid-row: 2;
}

.state {
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 32px;
  align-self: flex-end;
}
