@use "../../../styles/foundation/" as f;

.result-card {
  text-decoration: none;
  color: map-get($map: f.$colors, $key: "gray-1");
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border-bottom: thin solid map-get($map: f.$colors, $key: "gray-4");
}

.image-section {
  grid-column: 1;
  grid-row: 1 / span 3;
}

.price-shipping {
  font-size: 14px;
  grid-column: 2 / span 2;
  align-self: flex-end;
}

.img-free-shipping {
  margin-left: 5px;
}

.title {
  font-size: 14px;
  grid-column: 2 / span 2;
  grid-row: 2;
}

.state {
  font-weight: lighter;
  font-size: 12px;
}

@media screen and #{f.$mq-laptop} {
  .result-card {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  .image-section {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  .price-shipping {
    grid-row: 1;
    grid-column: 3 / span 6;
    font-size: 24px;
    margin-bottom: 32px;
  }

  .title {
    font-size: 18px;
    grid-column: 3 / span 8;
    grid-row: 2;
  }

  .state {
    margin-bottom: 32px;
    align-self: flex-end;
  }
}
