@use "foundation" as *;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif;
  background-color: map-get($map: $colors, $key: "gray-4");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
