@use "../../../styles/foundation/" as *;
.search-bar {
  display: flex;
  grid-column: 2 / span 5;
  width: 100%;
}

@media screen and #{$mq-tablet} {
  .search-bar {
    grid-column: 3 / span 9;
  }
}
